extends layout

block content
    .card.text-center
        .card-header
            h1 Hospital
        nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
            a.navbar-brand(href='/pedidos?nome='+nome) Home 
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
                span.navbar-toggler-icon
            #collapsibleNavbar.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/utentes?nome='+nome) Utentes
                    li.nav-item
                        a.nav-link(href='/medicos?nome='+nome) Médicos
                    li.nav-item
                        a.nav-link(href='/utilizadores?nome='+nome) Utilizadores 
        .card-body
            .container(style='text-align:center ; margin-top:60px' class="container-fluid")
                .row
                    .col
                        h1 Utilizadores:
                    .col-6
                        table.table
                            thead.thead-dark
                                tr
                                th Email:
                                th Nome:
                                th Username:
                                th Tipo_Entidade:
                                th Telemóvel:
                                th Nome Hospital:
                            each u in utilizadores
                                tbody
                                    tr
                                        td=u.email
                                        td=u.nome
                                        td=u.username
                                        td=u.tipo_entidade
                                        td=u.telemovel
                                        td=u.nomeHospital
                    .col
        .card-footer.text-center
            p HospitalApp by is_grupo7