extends layout

block content
    .card.text-center
        .card-header
            h1 Seguradora
        nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
            a.navbar-brand(href='/participacoes') Home 
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
                span.navbar-toggler-icon
            #collapsibleNavbar.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/sinistrados') Sinistrados
                    li.nav-item
                        a.nav-link(href='/seguros') Seguros
                    li.nav-item
                        a.nav-link(href='/utilizadores') Utilizadores 
        .card-body
            .container(style='text-align:center ; margin-top:60px' class="container-fluid")
                .row
                    .col
                        h1 Participações:
                    .col-6
                        table.table
                            thead.thead-dark
                                tr
                                th Nr. Processo:
                                th NIF:
                                th Data Acidente:
                                th Tipo Acidente:
                                th Nome Seguradora:
                                th Nome Hospital:
                                th Estado:
                            each p in participacoes
                                tbody
                                    tr
                                        td=p.nr_processo
                                        td=p.nif
                                        td=p.data_acidente
                                        td=p.tipo_acidente
                                        td=p.nome_seguradora
                                        td=p.nome_hospital
                                        if p.estado == true
                                            td Validada
                                        else
                                            if p.estado == false
                                                td Em Processo
                                            else
                                                td=p.estado
                                            
                    .col
                        - var link = "/participacoes/participacao?nome="+nome
                        a.btn.btn-dark(href=link) Participar
        .card-footer.text-center
            p SeguradoraApp by is_grupo7